<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    <h1>WELCOME TO ABOUT PAGE</h1>
    <h3>{{getCurrentYear}}</h3>
  </body>
</html>
