<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <h1>WELCOME TO HOME PAGE</h1>
    <h3>{{copyRight}}</h3>
    {{> footer}}
  </body>
</html>
